@import "~bootstrap/dist/css/bootstrap.css";

html, body, .todo {
    margin: 0;
    padding: 0;
}

#app {
    margin: 10px auto;
}

.todo {
    list-style-type: none;
}

.todo__input, .todo__item {
    margin: 10px;
}

.todo__radio {
    padding: 0 5px;
}

.todo__item {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.todo__item--done {
    text-decoration: line-through;
    color: green;
}

#addTodo {
    margin-left: 10px;
}
